<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>http://sonar:9000</sonar.host.url>
                <sonar.login>sonarLogin</sonar.login>
                <sonar.verbose>true</sonar.verbose>
                <sonar.language>java</sonar.language>
            </properties>
            <repositories>
                <repository>
                    <id>repo-releases</id>
                    <url>http://localhost:8081/repository/maven-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>nexus_artifactory</id>
            <username>${repo.usr}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>repo-releases</id>
            <username>jenkins</username>
            <password>{nytrCI5ki3QHMozQoIjZbzEIbJfUL/N5jadddE2U1M0=}</password>
        </server>
    </servers>
</settings>